/*-- scss:rules --*/
.navbar-brand {
  font-family: "figtree", sans-serif;
}

.navbar-nav a {
  color: $brand-white;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  color: $brand-dark-grey;
  background-color:  $brand-blue;
  border-radius: 10px;
}

.card h5{
  font-size: 1.1em;
  font-family: "Montserrat";
}